RewriteEngine On
RewriteBase /

# Do not rewrite existing files and folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite pages without extensions
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Rewrite for language settings
RewriteRule ^(ru|en)/(.*)$ $2/?lang=$1 [L]