/* GENERAL */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-size: 14px;
}

/* AUTHORIZATION */

.form-signin {
    max-width: 530px;
    margin: 0 auto;
}

/* REGISTRATION */

.form-registration {
    max-width: 900px;
    margin: 0 auto;
}
.select-dob {
    max-width: 120px;
}

/* REUSABLE */

.centered-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

/* LANGUAGE LINKS */

.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url('../images/flags.png') no-repeat;
}


.flag.flag-ru {
    background-position: 0 0;
}

.flag.flag-en {
    background-position: -16px 0;
}

/* PROFILE */

.photo {
    margin-left: 15px;
    width: 220px;
    height: auto;
    border: 2px solid #011d37;
    border-radius: 4px;
    padding: 2px;
}

.photo img {
    width: 100%;
    height: auto;
}

.details-list {
    list-style: none;
}

.details-list li {
    margin-bottom: 15px;
}

/* VALIDATION */

.hints {
    padding: 0;
    text-align: left !important;
    font-size: 0.8rem;
}

.danger {
    border: 2px solid #b94a48;
}

.danger-text {
    color: #b94a48;
}

.success {
    border: 2px solid #468847;
}

.success-text {
    color: #468847;
}

.danger-text {
    color: #b94a48;
}

.hint-success {
    color: green;
    font-size: 1.5rem;
    margin-top: -7px !important;
}

#inputGenderHint {
    margin-top: 13px !important;
}

#selectHint {
    margin-top: 16px !important;
}